<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="main-container">
            <div class="content">
                <a href=""><h1>スマホアプリ紹介webサイト</h1></a>
                <a href=""><img src="../../assets/lpport.png" alt=""></a>
                <h2>製作理由</h2>
                <p>
                    企業に提出できるwebサイトを作ろうと思ったのが一番の理由です。<br>
                    職業訓練校で製作したwebサイトは著作権に配慮しておらず、
                    初めてコーディングしたサイトということもあってポートフォリオとしての提出は見送りました。
                    どんなサイトを制作しようか迷っていた所アプリ広告のLPが目に入り、
                    著作権に配慮しつつ自分の好きなアプリを紹介しようと決めて製作しました。
                </p>
                <h2>工夫したところ</h2>
                <p>
                    javascriptコーディングを工夫しました。
                    ライブラリ使用は初めての経験だったので、プロパティの設定やDOM構成に躓きながらもなんとか実装にまでたどり着きました。
                    画面固定のロジックは他サイトを参考にしつつ書いたオリジナルコードで、思い通りの動作をさせる為に試行錯誤した結果、
                    コールバック関数のネスト構造に頼りました。
                </p>
                <h2>改善点</h2>
                <p>
                    1.デザインがシンプルなあまり殺風景な印象。画像を配置するなどしてデコレーションしたい。
                    2.jsのロジックが煩雑なので。asyc/await等を使ってリファクタリングしていきたい……。
                    3.調べながらのコーディングだったのでスピードが遅かった、会社に貢献できるスピードを目指す。
                </p>
            </div>
            <div class="content">
                <a href=""><h1>webアプリケーション-ポドモーロタイマー</h1></a>
                <a href=""><img src="../../assets/vueport.png" alt=""></a>
                <h2>製作理由</h2>
                <p>
                    ユーザーファーストのwebサイトを作ろうと思ったのが一番の理由です。
                    アプリ紹介サイトはユーザーのことをあまり意識せず製作したので、
                    ２作目では誰かに使ってもらえるようなサイトを作りたいと考え、思い浮かんだのがこのwebアプリケーションです。
                    勉強時間の管理にポドモーロ法というインターバルと勉強時間をセット数として学習する方法があり、
                    youtubeの動画を利用していたのですが、自分でセット数や時間を管理したいと思いこのアプリケーションを製作しました。
                    現在もこのアプリを利用しながら学習しています。
                </p>
                <h2>工夫したところ</h2>
                <p>
                    やはり、こちらもjavascriptに力を入れています。
                    時間管理やタイマーセットのロジックにも力を入れましたが、一番手こずったのはiframeの動的操作です。
                    開発当初はjavascriptAPIを利用していたのですがサービスが停止していたらしく、気付くのに時間をかけてしまいました。
                    最終的に利用したのはiframe APIで、APIを利用しつつユーザーが入力したURLをしっかりセットできるようになるまで何度も試行しました。
                    結果としては、コードは冗長ですが製作物には満足しています。
                </p>
                <h2>改善点</h2>
                <p>
                    1.リロードするとURLの入れ直しになるので、ユーザーの入力値をcoookieに保存して利用したい。
                    2.jsのコードが冗長なのでリファクタリングして時間設定などをメソッド化したい。
                </p>
            </div>
        </div>
    </main>
</body>
</html>