<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="main-container">
            <h2>自己紹介</h2>
            <div class="introduction">
                
                <div class="myImage">
                    画像を入れ込む
                </div>
                <div class="myData">
                    <p>年齢: <span>27</span></p>
                    <p>学歴: <span>宮崎県立都城工業高等学校卒業/<br>
                                    ライフビジネスクール/情報処理技術者養成科卒業</span></p>
                    <p>趣味/特技: <span>スポーツ観戦/ゲーム制作/モダンIT情報収集</span></p>
                </div>
            </div>
            <h2>所持しているエンジニアスキル</h2>
            <div class="has-skills">
                <div>
                    <p>HTML/CSS</p>
                    <div class="graph">
                        <span class="bar" style="width: 50%; background: yellowgreen;">50%</span>
                    </div>    
                </div>
                <div>
                    <p>JavaScript</p>
                    <div class="graph">
                        <span class="bar" style="width: 70%; background: red;">70%</span>
                    </div>    
                </div>
                <div>
                    <p>Vue.js</p>
                    <div class="graph">
                        <span class="bar" style="width: 30%; background: green;">30%</span>
                    </div>    
                </div>
                <div>
                    <p>JAVA</p>
                    <div class="graph">
                        <span class="bar" style="width: 40%; background: yellowgreen;">40%</span>
                    </div>    
                </div>
                <div>
                    <p>Linux</p>
                    <div class="graph">
                        <span class="bar" style="width: 25%;">25%</span>
                    </div>    
                </div>
                <div>
                    <p>Git</p>
                    <div class="graph">
                        <span class="bar" style="width: 30%; background: green;">30%</span>
                    </div>    
                </div>
                <div>
                    <p>AWS</p>
                    <div class="graph">
                        <span class="bar" style="width: 25%;">25%</span>
                    </div>    
                </div>
                <div>
                    <p>Unity</p>
                    <div class="graph">
                        <span class="bar" style="width: 40%; background: yellowgreen;">40%</span>
                    </div>    
                </div>
                
            </div>
            <h2>所持資格</h2>
            <div class="has-licences">
                <div class="content">
                    <img src="../../assets/linuc-1.png" alt="">
                    <p class="strong">LinuCレベル1 Version 4.0</p>
                    <p>・仮想マシンとコンテナを含むLinuxサーバーの構築と運用・管理ができる。<br>
                        ・クラウドのセキュリティを理解し、安全に運用できる。<br>
                        ・オープンソースの文化を理解し、業務に活用できる。</p>
                </div>
                <div class="content">
                    <img src="../../assets/AWS.png" alt="">
                    <p class="strong">AWS Certified Cloud Practitioner</p>
                    <p>・IT サービスのベーシックな知識と、AWS クラウドプラットフォームにおけるそれらのサービスの使用に関するベーシックな知識がある</p>
                    <p>・AWS のコアサービスとユースケース、課金、料金モデル、セキュリティコンセプト、クラウドがビジネスに与える影響についての知識がある</p>
                </div>
            </div>
            
        </div>
    </main>
</body>
</html>